{
  "submission": "%SUBMISSION%",
  "dateCaught": "2018-08-08T00:00:00Z",
  "species": "%SPECIES%",
  "activity": "%ACTIVITY%",
  "method": "%METHOD%",
  "mass": {
    "type": "%MASS_TYPE%",
    "%MASS_TYPE_PROP%": %MASS%
  },
  "released": %RELEASED%
}
